<!-- <hr />
<footer id="footer" class="bg-info">
  <div class="container">
    <div class="row text-dark">
      <div class="col">
        <p>Made by <a href="https://muzammil.netlify.com">Muzammil</a></p>
        <p>
          Copyright &copy; All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer> -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
